################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/bin
/obj
/XRTSoft.PowerApps.PowerFind.v3.ncrunchsolution.user
/XRTSoft.PowerApps.PowerFind.csproj.user
